.Versus {
    background-image: url("../../images/versus.svg");
    height: 159px;
    width: 1121px;
    background-repeat: no-repeat;
    position: fixed;
  }
  
  .Left {
    color: white;
    left: 3em;
    font-size: 4em;
    position: fixed;
  }
  
  .Right {
    color: white;
    left: 12em;
    font-size: 4em;
    position: fixed;
  }
  