.grid-container {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 2fr;
	grid-template-rows: 0.5fr 2fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		"banner"
		"blue-avatar blue-about red-about red-avatar"
		"blue-vote . . red-vote";
}
.banner {
	grid-area: banner;
}
.banner-left {
	grid-area: banner-left;
}
.banner-mid {
	grid-area: banner-mid;
}
.banner-mid2 {
	grid-area: banner-mid2;
}
.banner-right {
	grid-area: banner-right;
}
.blue-avatar {
	grid-area: blue-avatar;
}
.blue-about {
	grid-area: blue-about;
}
.red-about {
	grid-area: red-about;
}
.red-avatar {
	grid-area: red-avatar;
}
