.Header {
  background-color: #303030;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "col1 col2 col3";
}
.col1 { grid-area: col1; }
.col2 { grid-area: col2; }
.col3 { grid-area: col3; }

.Logo {
  padding-left: 0.5em;
  padding-top: 0.5em;
}

ul {display: flex;
  flex-direction: row;
  justify-content: space-evenly;}