body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* component styling */
.grid-container-battle {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 1fr;
  grid-template-areas:
    "banner banner"
    "blue-profile red-profile"
    "blue-vote red-vote";
  align-items: center;
  justify-items: center;
}
.banner {
  grid-column: 1 / 2; /* span from grid column line 1 to 3 (i.e., span 2 columns) */
  grid-area: banner;
}
.blue-profile {
  grid-area: blue-profile;
  overflow: visible;
  height: 33em;
  width: 34em;
}
.red-profile {
  grid-area: red-profile;
  overflow: visible;
  height: 33em;
  width: 34em;
}

.blue-vote {
	grid-area: blue-vote;
	background-color: #69c9ff;
	border-style: outset;
	color: white;
	border-color: #56a8d7;
	border-radius: 10.5em;
	height: 8em;
	width: 8em;
	border-width: 0.55em;
	margin-top: -5em;
margin-left: 35em;
}

.blue-vote:hover {
	background-color: #60b5e6;
	border-color: #62bdf1;
}

.blue-vote p {
	font-size: 2em;
	text-align: center;
	margin: 0;
}

.red-vote {
	grid-area: red-vote;
	background-color: #ff6565;
	border-style: outset;
	color: white;
	border-color: #ca4e4e;
	border-radius: 10.5em;
	height: 8em;
	width: 8em;
	border-width: 0.55em;
	margin-top: -5em;
margin-left: -35em;
}

.red-vote:hover {
	background-color: #db5656;
	border-color: #ff6565;
}

.red-vote p {
	font-size: 2em;
	text-align: center;
	margin: 0;
}

.hidden {display: none !important}
